<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-10" style="margin-bottom: 20px;">


            <h3 class="text-left mb-4">Agregando un infoproducto</h3>
            <div class="row d-flex align-items-start">

                <!-- Botón de hamburguesa para móviles -->
                <button class="btn btn-primary d-md-none mb-3" style="color: white;"
                    (click)="mostrarFormulario = !mostrarFormulario">
                    ☰ Detalle
                </button>

                <!-- Formulario que se oculta en móviles y se muestra en pantallas grandes -->
                <div class="col-md-3" [ngClass]="{'d-none': !mostrarFormulario, 'd-md-block': true}"
                    style="margin-bottom: 20px;">
                    <div class="card p-3" style="margin-top: 5px;">
                        <h4 class="mb-3">Información del Producto</h4>
                        <form>
                            <div class="mb-3">
                                <label class="form-label">Título</label>
                                <input type="text" class="form-control" [(ngModel)]="formDataModel.titulo"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Descripción</label>
                                <textarea class="form-control" rows="3" [(ngModel)]="formDataModel.descripcion"
                                    [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Precio</label>
                                <input min="1" type="number" class="form-control" [(ngModel)]="formDataModel.precio"
                                    [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Categoría</label>
                                <select class="form-control" [(ngModel)]="formDataModel.categoria" name="categoria"
                                    [ngModelOptions]="{standalone: true}">
                                    <option value="electronica">Electrónica</option>
                                    <option value="mecanica">Mecánica</option>
                                    <option value="hogar">Electrónica</option>
                                    <option value="informatica">Informática</option>
                                </select>
                            </div>

                        </form>
                    </div>
                </div>

                <!-- Sección de Video/Listado -->
                <div class="col-md-5">
                    <ul class="nav nav-pills d-flex flex-wrap justify-content-center justify-content-md-start">
                        <li class="nav-item">
                            <a class="nav-link active" style="cursor: pointer;" #tab1
                                (click)="selectTap(1)">Listados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="cursor: pointer;" #tab2 (click)="selectTap(2)">Archivo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="cursor: pointer;" #tab3 (click)="selectTap(3)">Video</a>
                        </li>

                    </ul>

                    @if(tapActive == 1){
                    <div class="card mt-3 mt-md-0" style="width: 100%;margin-top: 5px;">
                        <div class="card-body">
                            <h5 class="card-title">Grupos actuales</h5>
                            <p class="card-text">Puede seleccionar a qué grupo pertenecerá el infoproducto.</p>
                            <select class="form-select" size="5" aria-label="Seleccionar grupo"
                                [(ngModel)]="formDataModel.grupoId" name="grupo">
                                <option selected>Seleccione un grupo</option>
                                <option value="1">Programación</option>
                                <option value="2">Seguridad</option>
                                <option value="3">Robótica</option>
                                <option value="4">Curso de electrónica</option>
                                <option value="5">Tutorial de Bases de datos</option>
                                <option value="6">Programación concurrente</option>
                            </select>
                            <a class="btn btn-primary mt-2" style="color: white;" (click)="toNext()">Siguiente</a>
                        </div>
                    </div>
                    }
                    @if(tapActive == 2){
                    <div class="card mt-3 mt-md-0" style="width: 100%;margin-top: 5px;">
                        <div class="card-body">
                            <h5 class="card-title">Seleccionar archivo</h5>
                            <p class="card-text">Selecciona un archivo a incluir en el infoproducto</p>

                            <div class="mb-3">
                                <label for="formFileDisabled" class="form-label">Disabled file input example</label>
                                <input class="form-control" type="file" (change)="onArchivoSeleccionado($event)">

                            </div>

                            <a class="btn btn-primary mt-2" style="color: white;" (click)="toNext()">Siguiente</a>
                        </div>
                    </div>
                    }
                    @if(tapActive == 3){
                    <div class="card mt-3 mt-md-0" style="width: 100%;margin-top: 5px;">
                        <div class="card-body">
                            <h5 class="card-title">Seleccionar video</h5>
                            <p class="card-text">Puede grabar o subir un video</p>

                            <app-info-producto></app-info-producto>


                            <a class="btn btn-primary mt-2" style="color: white;" (click)="toNext()">Siguiente</a>
                        </div>
                    </div>
                    }
                </div>

                <div class="col-md-4">
                    <div class="card p-3">
                        <h4 class="mb-3">Listado de Videos</h4>

                        <!-- Botón para cargar videos desde la PC -->
                        <input type="file" accept="video/*" (change)="onFileSelected($event)" class="form-control mb-3">


                        <!-- Sección de Drag & Drop -->
                        <div class="drop-zone" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
                            Arrastra aquí el video grabado o súbelo desde tu PC
                        </div>
                        <!--
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center" 
                        *ngFor="let video of videoList" draggable="true" 
                        (dragstart)="onDragStart($event, video)">
                     
                      <video [src]="video.url" controls class="w-100" (click)="playVideo(video)" 
                             style="max-width: 100px; max-height: 100px; object-fit: cover;">
                      </video>
                    </li>
                  </ul>
                -->

                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let video of videoList" draggable="true"
                                (dragstart)="onDragStart($event, video)">

                                <div class="d-flex">
                                    <!-- Miniatura del video -->
                                    <video [src]="video.url" controls (click)="playVideo(video)"
                                        style="max-width: 100px; max-height: 100px; object-fit: cover;">
                                    </video>

                                    <!-- Info del video -->
                                    <div class="ms-3 flex-grow-1">
                                        <input type="text" class="form-control mb-2" [(ngModel)]="video.titulo"
                                            placeholder="Título del video">
                                        <textarea class="form-control" [(ngModel)]="video.descripcion"
                                            placeholder="Descripción"></textarea>
                                    </div>

                                    <!-- Botón para eliminar -->
                                    <button class="btn btn-danger ms-2" (click)="removeVideo(video)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>

                            </li>
                        </ul>




                    </div>
                </div>
                <button class="btn btn-primary" style="color:white;" (click)="enviarInfoproducto()">
                    <i class="fas fa-save"></i>
                </button>

                <div class="progress mt-2" *ngIf="subiendo">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        [style.width.%]="uploadProgress" [attr.aria-valuenow]="uploadProgress" aria-valuemin="0"
                        aria-valuemax="100">
                        {{ uploadProgress }}%
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de éxito -->
<ng-template #successModal let-modal>
    <div class="modal-header bg-primary text-white" >
      <h5 class="modal-title">¡Éxito!</h5>
      <button type="button" class="btn-close btn-close-white" (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
      Infoproducto cargado correctamente.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary text-white" (click)="modal.close()">Aceptar</button>
    </div>
  </ng-template>
  