.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Color de fondo opcional */
    /* Otros estilos */
  }
  
/* layout.component.css */

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% del viewport */
  }
  
  .content {
    flex: 1; /* El contenido principal se expande */
  }


  .image-container {
    width: 100%;
    padding-top: 100%; /* Hace el contenedor cuadrado */
    position: relative;
    overflow: hidden;
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    object-fit: cover;
  }