<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    @for(item of menu; track item.nombre){  
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': item.active}" href="{{ item.url }}">{{ item.nombre }}</a>
                    </li>
                    }
                </ul>
            </div>
        </nav>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light d-md-none">
            <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" style="margin-left: 10px;">
                Filter
            </button>
            <div class="collapse navbar-collapse" [ngClass]="{'show': isCollapsed}">
                <ul class="navbar-nav">
                    @for(item of menu; track item.nombre){  
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': item.active}" href="{{ item.url }}">{{ item.nombre }}</a>
                    </li>
                    }
                </ul>
            </div>
        </nav>
        <!-- Contenido principal -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 p-4">
                <!-- Generar 9 cards -->
                @for (info of infoproductos; track info.id) {
                    <div class="col">
                        <div class="card h-100">
                         <!--   <img src="https://via.placeholder.com/150" class="card-img-top" alt="Imagen ejemplo" /> -->
                            <div class="card-body">
                                <h5 class="card-title">{{ info.title }}</h5>
                                <div class="image-container">
                               
                                    <div class="image-container position-relative"
                                        (mouseenter)="info.showVideo = true"
                                        (mouseleave)="info.showVideo = false">
                                    
                                    <!-- Imagen por defecto -->
                                     @if(!info.showVideo){
                                        <img 
                                        [src]="info.thumbnailUrl"
                                        class="card-img-top"
                                        alt="{{ info.title }}" />
                                     }


                                    <!-- Video al hacer hover -->
                                     @if(info.showVideo){
                                        <video 
                                            [src]="info.videoUrl"
                                            autoplay
                                            muted
                                            loop
                                            class="card-img-top">
                                        </video>
                                     }

                                    </div>

                                </div>
                                <p class="card-text">{{ info.description }} - ${{ info.price }}</p>
                                <a href="#" class="btn btn-primary">Ver más</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </main>
    </div>
</div>