/* Estilos para el sidebar en pantallas medianas y grandes */
@media (min-width: 768px) {
    .sidebar {
        display: block;
    }
    .navbar {
        display: none;
    }
}

/* Estilos para el navbar en pantallas pequeñas */
@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
    .navbar {
        display: block;
    }
}


.image-container {
    width: 100%;
    padding-top: 100%; /* Hace el contenedor cuadrado */
    position: relative;
    overflow: hidden;
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
  

  .media-container {
    width: 100%;
    overflow: hidden;
}

.fixed-media-box {
    width: 100%;
    height: 200px; /* Ajusta esta altura según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.media-element {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto hace que la imagen/video cubra el espacio manteniendo su proporción */
    transition: all 0.3s ease;
}