.custom-card-container {
    max-width: 320px;
    margin: 0 auto;
}

.media-container {
    width: 100%;
    overflow: hidden;
}

.fixed-media-box {
    width: 100%;
    height: 150px; /* Altura reducida del elemento multimedia */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.media-element {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.card .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}