
<video #videoElement [src]="videoBlobUrl" controls autoplay class="w-100"></video>
<br>
<div class="m-3">

    <!-- Fila de botones y input -->
    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">

        <!-- Botones -->
        <div class="mb-3 mb-md-0 d-flex">
            <button class="btn btn-primary me-2" style="color: white;" (click)="startRecording()">
                <i class="fas fa-circle"></i>
            </button>
            <button class="btn btn-primary me-2" style="color: white;" (click)="stopRecording()">
                <i class="fas fa-stop"></i>
            </button>
            <a #downloadLink class="btn btn-primary me-2" style="color: white;">
                <i class="fas fa-download"></i>
            </a>
        </div>

        <!-- Input de archivo -->
        <input type="file" accept="video/*" (change)="handleFileInput($event)" class="btn btn-primary w-100 mt-2 mt-md-0" style="color: white;">
    </div>
</div>



