<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <img src="/images/logo.png" width="120" alt="logo icon" [routerLink]="['/home']"  style="cursor: pointer;"   >
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#"><i class="fas fa-camera"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
                </li>
            </ul>
            <a class="nav-link" href="#" style="color: #0fbbe6; margin-right: 15px;">CONVIERTETE EN AFILIADO</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button (click)="login()" class="btn btn-primary" type="submit" style="color: white;">SignIn</button>
            </form>
        </div>
    </div>
</nav>